In [2]:
 # Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.dialects import registry

# Create Engine for data
database_path = "postgresql://vzgrmmdttkwsnk:5b0f5e6c07de8fc1c547861230ed3726ec9a09021f0e40db1cd92c4a119d1bce@ec2-52-86-56-90.compute-1.amazonaws.com:5432/df4j8v6ob22efh"
engine = create_engine(database_path)
conn = engine.connect()

In [3]:
happiestcities = pd.read_sql("SELECT * FROM happiestCities", conn)
happiestcities.head()

,overall_rank,city,state,total_score,emotional_physical,income_employment,community_environment
0,1,Fremont,CA,77.13,1,46,2
1,2,Columbia,MD,71.64,3,161,5
2,3,San Francisco,CA,71.15,4,1,44
3,4,San Jose,CA,71.00,2,6,55
4,5,Irvine,CA,70.38,5,16,12

In [4]:
zip_data = pd.read_sql("SELECT * FROM zips", conn)
zip_data.head()

,us_zip_code,type,primary_city,state,latitude,longitude,county,timezone,area_codes,country,estimated_population,created_at,updated_at
0,00501,UNIQUE,Holtsville,NY,40.81,-73.04,Suffolk County,America/New_York,631,US,384,2020-02-11 17:24:49.491000+00:00,2020-02-11 17:24:49.491000+00:00
1,00602,STANDARD,Aguada,PR,18.38,-67.18,NA,0,787,US,0,2020-02-11 17:24:49.491000+00:00,2020-02-11 17:24:49.491000+00:00
2,00601,STANDARD,Adjuntas,PR,18.16,-66.72,Adjuntas,America/Puerto_Rico,787939,US,0,2020-02-11 17:24:49.491000+00:00,2020-02-11 17:24:49.491000+00:00
3,00544,UNIQUE,Holtsville,NY,40.81,-73.04,Suffolk County,America/New_York,631,US,0,2020-02-11 17:24:49.491000+00:00,2020-02-11 17:24:49.491000+00:00
4,00603,STANDARD,Aguadilla,PR,18.43,-67.15,Aguadilla,America/Puerto_Rico,787,US,0,2020-02-11 17:24:49.491000+00:00,2020-02-11 17:24:49.491000+00:00